.container {
  position: relative;
  margin-left: 200px;
  max-width: 100%;
  /* height: 100%; */
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* margin: 10px; */
  background-color: rgb(220, 238, 208);
}

.employee-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.sub-employee-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input {
  margin: 5px;
  width: 200px;
  height: 20px;
}

button {
  width: 140px;
  height: 30px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.employee-table-view {
  margin: 10px;
  width: 100%;
  text-align: center;
}

.employee-table-view table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.employee-table-view th,
.employee-table-view td {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 8px;
  text-align: center;
  background-color: #ddd;
}

.employee-table-view th {
  background-color: #857b7b;
}
